<template>
  <div class="container">
    <div class="space"></div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Propiedades Publicadas</div>
          <div class="card-body">
            <h5 class="card-title">{{ propsActivas }}</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Propiedades en espera</div>
          <div class="card-body">
            <h5 class="card-title">{{ this.props.length}}</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="overflow-auto table-javs">
          <table class="table table-sm table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Dirección</th>
                <th scope="col">Tipo</th>
                <th scope="col">Transacción</th>
                <th scope="col">Valor</th>
                <th scope="col">Estado</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="prop in props" :key="prop.prop_id">
                <td>{{prop.prop_id}}</td>
                <td>{{prop.direccion}}</td>
                <td>{{prop.tipo}}</td>
                <td>{{prop.transaccion}}</td>
                <td>{{prop.valor}}</td>
                <td v-if="prop.estado">Activo</td>
                <td v-else>En espera</td>
                <td>
                  <button class="btn btn-primary">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
  </div>
</template>

<script>
export default {
  name: "dashboard",
  data() {
    return {};
  },
  beforeCreate: function() {
    this.$store.dispatch("setProps");
  },
  computed: {
    props() {
      return this.$store.state.propiedades;
    },
    propsActivas() {
        var count = 0
        
      return 55;
    },
    propsEspera() {
      return this.$store.getters.getPropsEspera;
    }
  }
};
</script>

<style scoped>
</style>