<template>
  <div class="home">
    <section id="hero">
      <div class="hero-container-desktop">
        <div class="hero-details">
          <!-- Title -->
          <div class="row justify-content-center">
            <h1>Busca tu próximo hogar . . .</h1>
          </div>
          <div class="row justify-content-center">
            <!-- Buscador básico -->
            <form>
              <div class="form-row justify-content-center">
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- Multiselect Comuna -->
                    <multiselect
                      v-model="sector"
                      :options="options2"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="true"
                      selectLabel="Enter para seleccionar"
                      selectedLabel="Seleccionado"
                      deselectLabel="Enter para deseleccionar"
                      placeholder="Elige las comunas"
                      label="name"
                      track-by="name"
                      :preselect-first="false"
                    ></multiselect>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- Multiselect tipo inmueble -->
                    <multiselect
                      v-model="tipo"
                      :options="options3"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="true"
                      selectLabel="Enter para seleccionar"
                      selectedLabel="Seleccionado"
                      deselectLabel="Enter para deseleccionar"
                      placeholder="Elige el tipo de inmueble"
                      label="name"
                      track-by="name"
                      :preselect-first="false"
                    ></multiselect>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- Tipo select aviso -->
                    <multiselect
                      v-model="transaccion"
                      :options="options"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="true"
                      selectLabel="Enter para seleccionar"
                      selectedLabel="Seleccionado"
                      deselectLabel="Enter para deseleccionar"
                      placeholder="Elige el tipo de aviso"
                      label="name"
                      track-by="name"
                      :preselect-first="false"
                    ></multiselect>
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <button @click="getResults" type="button" class="btn btn-primary">Buscar</button>
              </div>
            </form>
            <!-- Fin Buscador -->
          </div>
        </div>
        <!-- Imagen de fondo -->
        <img src="/assets/img/ciudad-1920x685.jpeg" class="img-fluid desktop-hero" alt="ciudad" />
      </div>
    </section>
    <div v-if="searchResults" class="container">
      <div class="row justify-content-center">
        <h2 class="title">MIRA LO QUE ENCONTRAMOS PARA TI</h2>
      </div>
      <div
        v-for="(resultado, index) in results"
        v-bind:key="index"
        class="row justify-content-center"
      >
      <h3 class="space-less">¿Qué hay en {{resultado.name}}?</h3>

        <hooper :settings="hooperSettings">
          <slide v-for="slide in resultado.resultados" :key="slide.prop_id">
            <div class="propiedad">
              <div class="item-thumb">
                <router-link :to="{ name: 'propiedad-single', params: { id: slide.prop_id } }" tag="img"  :src="slide.imagen1"></router-link>
              </div>
              <div class="item-entry">
                <h5>
                  <a>{{slide.direccion}}</a>
                </h5>
                <span class="property-detail float-left">
                  <b>Area :</b>
                  {{slide.metrosConstruidos}} mts²
                </span>
                <span class="property-price float-right">${{slide.valor}} UF</span>
                <div class="float-left property-icon property-detail">
                  <img src="/assets/img/icons/bed-orange.png" />
                  {{slide.dormitorios}}
                  <img src="/assets/img/icons/shawer-orange.png" />
                  {{slide.baños}}
                  <img src="/assets/img/icons/cars-orange.png" />
                  {{slide.pisos}}
                </div>
              </div>
            </div>
          </slide>
          <hooper-navigation slot="hooper-addons"></hooper-navigation>
        </hooper>
      </div>
    </div>
    <Team></Team>
    <Highlight></Highlight>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import Multiselect from "vue-multiselect";
import Highlight from "../components/Highlight";
import Team from "../components/Team";
export default {
  name: "home",
  components: {
    Multiselect,
    Highlight,
    Team,
    Hooper,
    Slide,
    HooperNavigation
  },
  beforeCreate: function() {
    this.$store.dispatch("setProps");
  },
  data() {
    return {
      hooperSettings: {
        itemsToShow: 4,
        centerMode: false,
        infiniteScroll: true,
        progress: true,
        autoPlay: true,
        playSpeed: 3000,
        mouseDrag: false
      },
      searchResults: false,
      results: null,
      transaccion: [],
      options: [{ name: "Venta" }, { name: "Arriendo" }],
      sector: [],
      options2: [
        { name: "Temuco" },
        { name: "Pucón" },
        { name: "Padre Las Casas" },
        { name: "Villarrica" }
      ],
      tipo: [],
      options3: [
        { name: "Casa" },
        { name: "Departamento" },
        { name: "Oficina" },
        { name: "Parcela" }
      ]
    };
  },
  computed: {
    props() {
      return this.$store.getters.getLastProps;
    }
  },
  methods: {
    getResults: function() {
      this.searchResults = true;
      this.results = this.$store.getters.getResults(
        this.transaccion,
        this.tipo,
        this.sector
      );
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>