<template>
  <div id="Login">
    <div class="space"></div>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center form_container">
            <form>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  v-model="email"
                  class="form-control input_user"
                  value
                  placeholder="Email"
                />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-key"></i>
                  </span>
                </div>
                <input
                  type="password"
                  v-model="password"
                  class="form-control input_pass"
                  value
                  placeholder="Password"
                />
              </div>
            </form>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="button" name="button" class="btn login_btn" @click="login">Login</button>
          </div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
  </div>
</template>
<script>
import firebase from "firebase";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(user => {
          this.$router.replace("/dashboard");
        })
        .catch(err => {
          alert(err.message);
        });
    }
  }
};
</script>
<style scoped>
</style>