<template>
  <div class="propiedad-single">
    <div class="space"></div>
    <div class="container space">
      <div class="row justify-content-center">
        <div v-if="this.propData == null">{{reloadData()}}</div>
        <div class="col-md-8">
          <!-- Slider vertical -->
          <hooper :settings="hooperSettings" style="height: 500px !important">
            <slide>
              <div class="single-img">
                <img :src="this.propData.imagen2" />
              </div>
            </slide>
            <slide>
              <div class="single-img">
                <img :src="this.propData.imagen3" />
              </div>
            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
          </hooper>
        </div>
        <!-- Fin Slider -->
        <!-- Sidebar informacion -->
        <div class="col-md-4">
          <aside class="property-style2">
            <div class="dealer-widget">
              <div class="dealer-content">
                <div class="inner-wrapper">
                  <div class="single-property-header">
                    <div class="row justify-content-center">
                      <h1 class="property-title">{{this.propData.direccion}}</h1>
                    </div>
                    <div class="row justify-content-center">
                      <span class="property-price">${{this.propData.valor}} UF</span>
                    </div>
                    
                  </div>
                  <div class="property-meta entry-meta clearfix">
                    <div class="row justify-content-center">
                      <div class="col-md-3">
                        <span class="property-info-icon icon-tag">
                          <img src="/assets/img/icons/sale-orange.png" />
                        </span>
                        <span class="property-info-entry">
                          <span class="property-info-label">Estado</span>
                          <span class="property-info-value">{{this.propData.transaccion}}</span>
                        </span>
                      </div>
                      <div class="col-md-3">
                        <span class="property-info icon-area">
                          <img src="/assets/img/icons/room-orange.png" />
                        </span>
                        <span class="property-info-entry">
                          <span class="property-info-label">Area</span>
                          <span class="property-info-value">
                            {{this.propData.metrosCuadrados}}
                            <b class="property-info-unit">mts²</b>
                          </span>
                        </span>
                      </div>

                      <div class="col-md-3">
                        <span class="property-info-icon icon-bed">
                          <img src="/assets/img/icons/bed-orange.png" />
                        </span>
                        <span class="property-info-entry">
                          <span class="property-info-label">Dormitorios</span>
                          <span class="property-info-value">3</span>
                        </span>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-3">
                        <span class="property-info-icon icon-bath">
                          <img src="/assets/img/icons/cars-orange.png" />
                        </span>
                        <span class="property-info-entry">
                          <span class="property-info-label">Entradas</span>
                          <span class="property-info-value">1</span>
                        </span>
                      </div>
                      <div class="col-md-3">
                        <span class="property-info-icon icon-garage">
                          <img src="/assets/img/icons/room-orange.png" />
                        </span>
                        <span class="property-info-entry">
                          <span class="property-info-label">Cocina</span>
                          <span class="property-info-value">15 mts²</span>
                        </span>
                      </div>
                      <div class="col-md-3">
                        <span class="property-info-icon icon-garage">
                          <img src="/assets/img/icons/shawer-orange.png" />
                        </span>
                        <span class="property-info-entry">
                          <span class="property-info-label">Baños</span>
                          <span class="property-info-value">2</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="dealer-section-space">
                    <span>Información del Vendedor</span>
                  </div>
                  <div class="clear">
                    <div class="row justify-content-center">
                      <div class="col-xs-4 col-sm-4 dealer-face"><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></div>
                      <div class="col-xs-4 col-sm-4">
                        <div class="row justify-content-center">
                          <h3 class="dealer-name">
                            <a href>Juan Herrera</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <!-- Fin Sidebar -->
      </div>
    </div>
    <div class="space-less"></div>
    <Team></Team>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import Team from "../components/Team";
export default {
  name: "propiedad-single",
  components: {
    Hooper,
    Team,
    Slide,
    HooperNavigation
  },
  beforeCreate: function() {
    this.$store.dispatch("setProps");
  },
  data() {
    return {
      hooperSettings: {
        infiniteScroll: true,
        progress: true,
        autoPlay: true,
        playSpeed: 3000,
        centerMode: true,
        itemsToShow: 1.4,
        vertical: true,
        mouseDrag: false
      },
      id: 0,
      propData: null
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.propData = this.$store.getters.getPropById(this.id);
  },
  methods: {
    reloadData() {
      this.id = this.$route.params.id;
      this.propData = this.$store.getters.getPropById(this.id);
    }
  },
  watch: {
    id: function() {
      this.reloadData();
    }
  }
};
</script>
