<template>
  <div class="publica">
    <div class="container">
      <div class="row space justify-content-center">
        <h1></h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <form class="upload-form">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="inputProp01">Prop_ID</label>
                  <input
                    v-model="prop_id"
                    type="text"
                    class="form-control"
                    id="inputProp01"
                    placeholder="Enter new title"
                  />
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="inputProp03">Valor</label>
                  <input
                    v-model="valor"
                    type="text"
                    class="form-control"
                    id="inputProp03"
                    placeholder="Enter relative video url"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="inputProp02">Dirección</label>
                  <input
                    v-model="direccion"
                    type="text"
                    class="form-control"
                    id="inputProp02"
                    placeholder="Enter new code"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="inputProp04">Tipo</label>
                  <select v-model="tipo" class="form-control" id="inputProp04">
                    <option>Casa</option>
                    <option>Departamento</option>
                    <option>Oficina</option>
                    <option>Parcela</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="inputProp04">Transaccion</label>
                  <select v-model="transaccion" class="form-control" id="inputProp04">
                    <option>Venta</option>
                    <option>Arriendo</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="inputProp05">Sector</label>
                  <select v-model="sector" class="form-control" id="inputProp04">
                    <option>Temuco</option>
                    <option>Villarica</option>
                    <option>Pucón</option>
                    <option>Padre Las Casas</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="inputProp05">Dormitorios</label>
                  <input
                    v-model="dormitorios"
                    type="text"
                    class="form-control"
                    id="inputProp05"
                    placeholder="Enter static index image url"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="inputProp05">Baños</label>
                  <input
                    v-model="baños"
                    type="text"
                    class="form-control"
                    id="inputProp05"
                    placeholder="Enter static index image url"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="inputProp05">Pisos</label>
                  <input
                    v-model="pisos"
                    type="text"
                    class="form-control"
                    id="inputProp05"
                    placeholder="Enter static index image url"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputProp05">Metros cuadrados construidos</label>
              <input
                v-model="metrosConstruidos"
                type="text"
                class="form-control"
                id="inputProp05"
                placeholder="Enter static index image url"
              />
            </div>
            <div class="form-group">
              <label for="inputProp05">Metros cuadrados totales</label>
              <input
                v-model="metrosTotales"
                type="text"
                class="form-control"
                id="inputProp05"
                placeholder="Enter static index image url"
              />
            </div>
            <div class="row justify-content-center">
              <button @click="addProp" type="button" class="btn btn-primary">Publicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import db from "../firebase/firebaseinit";
export default {
  name: "publica",
  components: {},
  data() {
    return {
      errors: "",
      prop_id: "",
      direccion: "",
      valor: "",
      tipo: "",
      transaccion: "",
      sector: "",
      dormitorios: "",
      baños: "",
      pisos: "",
      metrosConstruidos: "",
      metrosTotales: ""
    };
  },
  methods: {
    addProp: function() {
      this.errors = "";
      if (this.prop_id !== "") {
        db.collection("propiedades")
          .add({
            prop_id: this.prop_id,
            direccion: this.direccion,
            valor: this.valor,
            tipo: this.tipo,
            transaccion: this.transaccion,
            sector: this.sector,
            dormitorios: this.dormitorios,
            baños: this.baños,
            pisos: this.pisos,
            metrosConstruidos: this.metrosConstruidos,
            metrosCuadrados: this.metrosTotales,
            imagen1: "/assets/img/propiedades/property-3.jpg",
            imagen2: "/assets/img/propiedad-single/property1.jpg",
            imagen3: "/assets/img/propiedad-single/property2.jpg",
            estado: true
          })
          .then(response => {
            if (response) {
              this.prop_id = "";
              this.direccion = "";
              this.valor = "";
              this.tipo = "";
              this.transaccion = "";
              this.sector = "";
              this.dormitorios = "";
              this.baños = "";
              this.pisos = "";
              this.metrosConstruidos = "";
              this.metrosTotales = "";
            }
          })
          .catch(error => {
            this.errors = error;
          });
      }
    }
  }
};
</script>