<template>
    <div class="footer-area">
            <!-- Footer -->
            <div class=" footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="single-footer">
                                <h4>Contacto</h4>
                                <div class="footer-title-line"></div>
                                <p>Formulario</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-footer">
                                <h4>Mapa del Sitio</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><router-link to="/">Inicio</router-link></li>
                                    <li><router-link to="/publica">Publica</router-link></li> 
                                    <li><router-link to="/contacto">Contacto</router-link></li> 
                                    <li><router-link to="/login">Ingresar</router-link></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-footer">
                                <h4>Visitanos</h4>
                                <div class="footer-title-line"></div>
                                <p>Aquí iría un mapa o la dirección</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-footer">
                                <h4>Siguenos</h4>
                                <div class="footer-title-line"></div>
                                <p>Botones de Redes Sociales</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Footer -->
            <!-- Footer - Copyright -->
            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <span><a href="https://gitlab.com/gumball977">Desarrollo de Apps Web</a> , Proyecto VueJS   </span>  
                    </div>
                </div>
            </div>
            <!-- Fin Footer -Copyright -->
        </div>
</template>

<script>
export default {
    
}
</script>

<style>

</style>


