<template>
  <div class="container space-less">
    <div class="row justify-content-center title">
      <h3>Ultimas propiedades agregadas</h3>
    </div>
    <div class="row justify-content-center">
      <div class="hidden">{{this.$store.getters.getProps}}</div>
      <!-- Slider -->
      <hooper :settings="hooperSettings">
        <slide v-for="slide in props" :key="slide.id">
          <div class="propiedad">
            <div class="item-thumb">
              <router-link :to="{ name: 'propiedad-single', params: { id: slide.prop_id } }" tag="img"  :src="slide.imagen1"></router-link>
            </div>
            <div class="item-entry">
              <h5>
                <a>{{slide.direccion}}</a>
              </h5>
              <span class="property-detail float-left">
                <b>Area :</b>
                {{slide.metrosConstruidos}} mts²
              </span>
              <span class="property-price float-right">${{slide.valor}} UF</span>
              <div class="float-left property-icon property-detail">
                <img src="/assets/img/icons/bed-orange.png" />{{slide.dormitorios}}
                <img src="/assets/img/icons/shawer-orange.png" />{{slide.baños}}
                <img src="/assets/img/icons/cars-orange.png" />{{slide.pisos}}
              </div>
            </div>
          </div>
        </slide>
        <hooper-navigation slot="hooper-addons"></hooper-navigation>
      </hooper>
      <!-- Fin Slider -->
    </div>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
export default {
  name: "Highlight",
  components: {
    Hooper,
    Slide,
    HooperNavigation
  },
  beforeCreate: function(){
    this.$store.dispatch("setProps");
  },
  data() {
    return {
      hooperSettings: {
        itemsToShow: 4,
        centerMode: false,
        infiniteScroll: true,
        progress: true,
        autoPlay: true,
        playSpeed: 3000,
        mouseDrag: false
      }
    };
  },
  computed:{
    props(){
      return this.$store.getters.getLastProps
    }
  },
};
</script>

<style scoped>
.hidden{
  display: none;
}
</style>
