<template>
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <!-- Logo -->
    <router-link to="/">
      <img
        src="assets/images/logo.svg"
        class="img-fluid navbar-brand header-logo"
        alt="Aqui va un Logo"
      >
    </router-link>
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="icon ion-md-menu"></i>
    </button>
    <!-- Items Navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link to="/" class="nav-link">Inicio</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/publica" class="nav-link">Publica</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/about" class="nav-link">Contacto</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavBar",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
