@import "~bootstrap/scss/bootstrap";
@import "~hooper/dist/hooper.css";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700");
@import url("https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css");

/* General */
html,
body {
  background-color: #efeeee;
  font-family: "Titillium Web", sans-serif !important;
}
.header-logo {
  max-width: 180px;
  min-width: 180px;
}
.space {
  padding-top: 70px;
}
.space-less {
  padding-top: 25px;
}
.btn-primary {
  font-size: 22px;
  font-weight: 300;
  border-radius: 0%;
  background-color: #f26627;
  border-color: #f26627;
}

.btn-primary:hover {
  background-color: rgb(238, 85, 14);
  border-color: rgb(238, 85, 14);
}

.title{
  color: #535353;
  text-decoration: underline;
  text-decoration-color: #f26627;
}
////login
.user_card {
  height: 200px;
  width: 350px;
  background: #95a5a6;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.form_container {
  margin-top: 10px;
}
.login_btn {
  width: 100%;
  background: #f26627 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #f26627 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
/* Navbar */
.navbar {
  background-color: #f26627 !important;
  z-index: 9999;
}
.nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #efeeee;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #222729;
  opacity: 0.9;
}
.nav-item i {
  font-size: 20px;
  margin-left: 20px;
  color: #222729;
}
.navbar-toggler {
  font-size: 30px;
  color: #000000;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
/* Jumbotron con search */
#hero {
  padding: 20px 0;
}
.hero-container-desktop {
  position: relative;
  overflow: hidden;
}
.hero-container-desktop img {
  max-width: 100%;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.hero-container-desktop:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.hero-details {
  width: 100%;
  position: absolute;
  top: 150px;
  z-index: 9000;
}
.hero-details h1 {
  font-size: 50px;
  font-weight: 500;
  color: #efefef;
  text-shadow:
   -1px -1px 0 #535353,  
    1px -1px 0 #535353,
    -1px 1px 0 #535353,
     1px 1px 0 #535353;
  padding-top: 10%;
  padding-bottom: 10px;
}
form {
  width: 80% !important;
}
.form-group {
  width: 95% !important;
  padding-right: 5px !important;
}

.upload-form{
  width: 100% !important;
}

.upload-form .form-group{
  width: 100% !important;
}
/* Hooper (slider base) */
.hooper {
  height: 335px !important;
}
.hooper-next,
.hooper-prev {
  background-color: #f26627;
}

/* Slider horizontal */
.propiedad {
  background: #efeeee none repeat scroll 0% 0%;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  height: 100%;
}
.item-thumb img {
  transition: all 0.2s linear 0s;
  display: block;
  position: relative;
  width: 100%;
  min-height: 225px;
  max-height: 265px;
  position: relative;
}
.item-entry {
  padding: 10px;
  height: 100%;
  background-color: #535353;
}
.item-entry h5 {
  text-transform: uppercase;
  font-weight: 600;
  color: #efeeee;
  letter-spacing: 2px;
  position: relative;
}
.property-detail {
  color: #efeeee;
}
.property-price {
  font-weight: 600;
  color: #fdc600;
}
.property-icon {
  clear: both;
  padding: 5px 0px;
}

/*Propiedad Single*/
.single-img {
  padding-top: 5px;
  padding-bottom: 5px;
}
.single-img img {
  max-height: 352px;
  width: 730px;
  border-radius: 5px;
}
.dealer-name {
  margin-top: 5px;
  margin-bottom: 70px;
}
.dealer-name a {
  color: #efeeee;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.dealer-name span {
  font-size: 17px;
  clear: both;
}
.dealer-face img {
  opacity: 1;
}
.dealer-contacts {
  list-style: outside none none;
  padding: 30px 0px 0px 10px;
}
.dealer-contacts li i {
  color: black;
  padding-right: 8px;
}
.dealer-section-space {
  margin: -5px -14px 25px;
  background-color: #007b5e;
  padding: 10px 65px;
  font-size: 18px;
  text-transform: uppercase;
  color: #efeeee;
}
.property-style2 .dealer-widget {
  background-color: #838383;
}
.single-property-header {
  padding-bottom: 25px;
  position: relative;
  clear: both;
  overflow: hidden;
}
.single-property-header .property-title {
  margin: 10px 0px;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #efeeee;
}
.single-property-header .property-price {
  color: #ffa500;
  font-size: 30px;
  letter-spacing: 1.5px;
  right: 0px;
  border-bottom: 2px solid;
  line-height: 42px;
}
.property-meta {
  padding: 20px 0px;
  color: #efeeee;
}
.property-info-entry .property-info-label {
  font-size: 13px;
  display: block;
  line-height: 15px;
  text-transform: uppercase;
}
.property-info-entry .property-info-value {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}
.property-info-unit {
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
////////////////////////////////////////////////////////////// Team
#team {
  background: #eee !important;
}

.section-team {
  padding: 60px 0 !important;
}

section .section-title {
  text-align: center;
  color: #f26627;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/*Footer*/
.footer-area {
  border-top: 1px solid #d1d1d1;
  background: #555;
  color: #535353;
}
.footer {
  padding: 0px 0px 60px;
  background: rgba(255, 255, 255, 0.89) none repeat scroll 0% 0%;
}
.footer ul li i {
  padding-right: 10px;
  color: #000;
}
.footer-copy {
  background: rgba(213, 213, 213, 0.9) none repeat scroll 0% 0%;
  border-top: 0.051px solid rgba(162, 162, 162, 0.46);
  padding-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.single-footer {
  margin-top: 35px;
}
.footer p {
  line-height: 25px;
  font-size: 13px;
  padding-bottom: 20px;
}
.footer h4 {
  color: #717171;
  font-weight: 400;
  margin-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #878787;
  line-height: 35px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}
.footer h4 span {
  border-bottom: 3px solid #f26627;
}
.footer-title-line {
  width: 100px;
  height: 2px;
  background: #f26627;
  margin: 0px 0px 33px;
  position: relative;
  top: -2px;
}
.footer h5 {
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
}
.footer a {
  color: #fff;
}
.footer ul {
  padding: 0px;
  margin: 0px;
}
.footer ol,
.footer ul {
  list-style: outside none none;
}

.footer ul li {
  margin-bottom: 5px;
}
.footer ul li a {
  color: #535353;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}
.footer ul li a:hover {
  color: #fdc600;
  text-decoration: none;
}
.footer-menu li {
  border-bottom: 1px solid rgba(255, 171, 0, 0.31);
}
.footer-copy span {
  margin-right: 20px;
  font-size: 13px;
}
.footer-copy span a {
  color: #000;
  font-weight: 500;
}
