<template>
  <div id="app">
    <Navbar></Navbar>
    <router-view/>
    <div class="space"></div>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from './components/NavBar'
import Footer from './components/Footer'
export default {
  name: 'app',
  components: {
    Navbar, Footer
  }
}
</script>

<style>
</style>
